<!DOCTYPE html>
<html>
<head>
  <title>Big Board</title>
  <meta name="description" content="Big Board is a daily planner for small teams" />
  <meta name="author" content="Big Bang Technology Inc." />
  <meta name="copyright" content="Big Bang Technology Inc." />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= include_javascripts :core %>
  <%= include_stylesheets :core %>
  <%= stylesheet_link_tag 'mobile' %>
  <link rel="apple-touch-icon-precomposed" href="/images/icon.png" />
</head>
<body>

  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <p class="wordmark"><span class="app_name">BigBoard</span> by <%= link_to "Big Bang Technology", "http://bigbangtechnology.com" %></p>
  </footer>
  
</body>
</html>
